## 04-1 함수

함수란 무엇인가?
- 입력값을 가지고 어떤 일을 수행한 후 그 결과물을 내어 놓는 것

함수를 사용하는 이유
- 반복적으로 사용되는 가치 있는 부분
- 작성한 프로그램을 기능 단위로 분리

#### 파이썬 함수의 구조
```python
def 함수이름(매개변수):
    수행할 문장1
    수행할 문장2
    ....

#### 파이썬의 예약어 Reserved Words- 
예약어는 모두 30개이다
- 
예약어는 상수 또는 변수 나 다른 식별자의 이름으로 사용 할 수 없 
- .
예약어는 모두 소문자  12|cep|t	lambda	yield

|Keyword	| Keyword	| Keyword|
|---|---|---|
|assert |	finally	| or|
|break|	for	| pass|
|class|	from |	print|
|continue|	global	| raise|
|def	| if |	return|
|del	| import	| try|
|elif |	in |	while|
|else |	is |	with|
|except |	lambda	| yield|

In [28]:
add(2,3)

5

In [ ]:
def add(a, b):
    return a+b

In [31]:
a = 3
b = 4
c = add(a, b)
print(c)

7

#### 매개변수parameter와 인수arguments

```python

def add(a, b):    # a, b는 매개변수 <br> 
    reslut = a+b  # 수행할 문장 <br>
    return result # 결과값 리턴 <br>
<br>
c = add(3,4)      # 3, 4는 인수<br>

#### 입력값이 없는 함수

In [43]:
def say():
    return 'Hi'

In [45]:
a = say()

In [47]:
print(a)

Hi

#### 리터값이 없는 함수

In [13]:
def add(a, b):
    print('%d, %d의 합은 %d 입니다' % (a, b, a+b))

In [15]:
add(4,5)

4, 5의 합은 9 입니다

In [17]:
def add(a, b):
    return print('%d, %d의 합은 %d 입니다' % (a, b, a+b))

In [19]:
add(4,5)

4, 5의 합은 9 입니다

In [23]:
def add(a, b):
    print('%d, %d의 합은 %d 입니다' % (a, b, a+b))
    
    
a = add(4,5)

4, 5의 합은 9 입니다

In [25]:
print(a)

None

In [27]:
def add(a, b):
    return print('%d, %d의 합은 %d 입니다' % (a, b, a+b))

a = add(4,5)

4, 5의 합은 9 입니다

In [29]:
print(a)

None

#### 입력값도 리턴값도 없는 함수

In [51]:
def say():
    print('Hi')

In [53]:
say()

Hi

In [59]:
print(a)

None

#### 매개변수를 지정하여 호출하기

In [31]:
def add(a, b):
    return a-b

In [55]:
result = add(7,3)

In [57]:
print(result)

4

In [59]:
result = add(a =7, b =3)

In [61]:
print(result)

4

In [65]:
result = add( b =3 , a =7)
print(result)

4

#### 입력값이 몇개인지 모를때
``` python
def 함수이름(*매개변수):
    수행할 문장

In [67]:
def add_many(*args):
    result = 0
    for i in args:
        result = result + i
    return result

In [69]:
add_many(1,2,3,4,5)

15

In [71]:
add_many(1,2,3,4,5,6,7,8,9,10)

55

In [85]:
def add_mul(choice, *args):
    if choice == 'add':
        result = 0
        for i in args:
            result = result + i
    elif choice == 'mul':
        result =1
        for i in args:
            result = result*i

    return result

In [87]:
result = add_mul('add', 1,2,3,4,5)
print(result)

15

In [89]:
result = add_mul('mul', 1,2,3,4,5)
print(result)

120

키워드 매개변수, kwargs
``` python
def 함수이름(*kwargs):
    수행할 문장

In [65]:
def print_kwargs(**kwargs):
    print(kwargs)

In [67]:
print_kwargs(a=1)

{'a': 1}

In [69]:
print_kwargs(name='foo', age=3)

{'name': 'foo', 'age': 3}

#### 함수의 리턴값은 언제나 하나이다.

In [76]:
def add_and_mul(a, b):
    return a+b, a*b

In [100]:
result = add_and_mul(3,4)
result = str(result)

In [112]:
print('%s <= 튜플 1개로 반환된다' % (result) )

(7, 12) <= 튜플 1개로 반환된다

In [103]:
result, result2 = add_and_mul(3,4)

In [105]:
print(result, result2)

7 12

#### return 의 쓰임새
```python
 return을 만나면 함수를 끝낸다.

In [116]:
def add_and_mul(a, b):
    return a+b
    return a*b

In [118]:
result = add_and_mul(3,4)
print(result)

7

In [120]:
def add_and_mul(a, b):
    return a+b
    print('----------------')
    return a*b

In [122]:
result = add_and_mul(3,4)
print(result)

7

#### 매개변수에 초깃값 미리 설정하기

In [115]:
def say_myself(name, age, man=True):
    print('나의 이름은 %s 입니다.' % name)
    print('나의 나이는 %d 입니다.' % age)
    if man:
        print('나는 남자 입니다.')
    else:
        print('나는 여자 입니다.')

In [117]:
say_myself('김진', 44)

나의 이름은 김진 입니다.
나의 나이는 44 입니다.
나는 남자 입니다.

In [119]:
say_myself('김진', 44, True)

나의 이름은 김진 입니다.
나의 나이는 44 입니다.
나는 남자 입니다.

In [121]:
say_myself('김진', 44, False)

나의 이름은 김진 입니다.
나의 나이는 44 입니다.
나는 여자 입니다.

In [123]:
def say_myself(name, man=True, age):
    print('나의 이름은 %s 입니다.' % name)
    print('나의 나이는 %d 입니다.' % age)
    if man:
        print('나는 남자 입니다.')
    else:
        print('나는 여자 입니다.')

SyntaxError: parameter without a default follows parameter with a default (3384935188.py, line 1)

#### 함수 안에서 선언한 변수의 효력 범위

In [125]:
a = 1
def vartest(a):
    a = a+100

vartest(a)
print(a)

1

In [127]:
a = 1
def vartest(a):
    a = a+100
    print(a)

vartest(a)
print(a)

101
1

In [133]:

def vartest(z):
    z = z+100
    print(z)
    return

vartest(3)
print(z)

103

NameError: name 'z' is not defined

In [ ]:
1.return 사용하기

In [147]:
z = 1
def vartest(z):

    z = z+100
    print(z)
    return z

z = vartest(z)
print(z)

101
101

In [ ]:
2. global 명령어 사용하기

In [141]:
z = 1
def vartest():
    global z
    z = z+100
    print(z)
    return

vartest()
print(z)

101
101

#### lambda 예약어

- lambda는 함수를 생성할 때 사용하는 예약어
- def와 동일한 역할을 한다.
- 보통 함수를 한줄로 간결하게 만들때 사용한다.
- def를 사용해야 할 정도로 복잡하지 않거나 def를 사용할 수 없는 곳에 주로 쓰인다.

- 함수이름 = lambda 매개변수1, 매개변수2, .... : 매개변수를 이용한 표현식

In [127]:
add = lambda a, b: a+b
result = add(3,4)
print(result)

7

In [129]:
def add(a, b):
    return a+b

result = add(3,4)
print(result)

7